---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

In [7]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind

# Assignment 4 - Hypothesis Testing
This assignment requires more individual learning than previous assignments - you are encouraged to check out the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) to find functions or methods you might not have used yet, or ask questions on [Stack Overflow](http://stackoverflow.com/) and tag them as pandas and python related. And of course, the discussion forums are open for interaction with your peers and the course staff.

Definitions:
* A _quarter_ is a specific three month period, Q1 is January through March, Q2 is April through June, Q3 is July through September, Q4 is October through December.
* A _recession_ is defined as starting with two consecutive quarters of GDP decline, and ending with two consecutive quarters of GDP growth.
* A _recession bottom_ is the quarter within a recession which had the lowest GDP.
* A _university town_ is a city which has a high percentage of university students compared to the total population of the city.

**Hypothesis**: University towns have their mean housing prices less effected by recessions. Run a t-test to compare the ratio of the mean price of houses in university towns the quarter before the recession starts compared to the recession bottom. (`price_ratio=quarter_before_recession/recession_bottom`)

The following data files are available for this assignment:
* From the [Zillow research data site](http://www.zillow.com/research/data/) there is housing data for the United States. In particular the datafile for [all homes at a city level](http://files.zillowstatic.com/research/public/City/City_Zhvi_AllHomes.csv), ```City_Zhvi_AllHomes.csv```, has median home sale prices at a fine grained level.
* From the Wikipedia page on college towns is a list of [university towns in the United States](https://en.wikipedia.org/wiki/List_of_college_towns#College_towns_in_the_United_States) which has been copy and pasted into the file ```university_towns.txt```.
* From Bureau of Economic Analysis, US Department of Commerce, the [GDP over time](http://www.bea.gov/national/index.htm#gdp) of the United States in current dollars (use the chained value in 2009 dollars), in quarterly intervals, in the file ```gdplev.xls```. For this assignment, only look at GDP data from the first quarter of 2000 onward.

Each function in this assignment below is worth 10%, with the exception of ```run_ttest()```, which is worth 50%.

In [8]:
# Use this dictionary to map state names to two letter acronyms
states = {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 'AK': 'Alaska', 'UT': 'Utah', 'OR': 'Oregon', 'MT': 'Montana', 'IL': 'Illinois', 'TN': 'Tennessee', 'DC': 'District of Columbia', 'VT': 'Vermont', 'ID': 'Idaho', 'AR': 'Arkansas', 'ME': 'Maine', 'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 'AZ': 'Arizona', 'GU': 'Guam', 'MS': 'Mississippi', 'PR': 'Puerto Rico', 'NC': 'North Carolina', 'TX': 'Texas', 'SD': 'South Dakota', 'MP': 'Northern Mariana Islands', 'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 'WV': 'West Virginia', 'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 'NY': 'New York', 'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 'CO': 'Colorado', 'PA': 'Pennsylvania', 'DE': 'Delaware', 'NM': 'New Mexico', 'RI': 'Rhode Island', 'MN': 'Minnesota', 'VI': 'Virgin Islands', 'NH': 'New Hampshire', 'MA': 'Massachusetts', 'GA': 'Georgia', 'ND': 'North Dakota', 'VA': 'Virginia'}

In [9]:
def get_gdp_data_frame():
    GDP = pd.read_excel('gdplev.xlsx', skiprows = 218, usecols = [4, 6])
    GDP.columns = ['Quarter','GDP']
    return GDP

get_gdp_data_frame().head()

  Quarter      GDP
0  1999Q4  12323.3
1  2000Q1  12359.1
2  2000Q2  12592.5
3  2000Q3  12607.7
4  2000Q4  12679.3

In [10]:
def get_list_of_university_towns():
    '''Returns a DataFrame of towns and the states they are in from the 
    university_towns.txt list. The format of the DataFrame should be:
    DataFrame( [ ["Michigan", "Ann Arbor"], ["Michigan", "Yipsilanti"] ], 
    columns=["State", "RegionName"]  )
    
    The following cleaning needs to be done:

    1. For "State", removing characters from "[" to the end.
    2. For "RegionName", when applicable, removing every character from " (" to the end.
    3. Depending on how you read the data, you may need to remove newline character '\n'. '''
    state = None
    state_towns = []
    with open('university_towns.txt') as file:
        for line in file:
            thisLine = line[:-1]
            if thisLine[-6:] == '[edit]':
                state = thisLine[:-6]
            elif '(' in line:
                state_towns.append([state, thisLine[:thisLine.index('(') - 1]])
            else:
                state_towns.append([state, thisLine])
    return pd.DataFrame(state_towns, columns = ['State','RegionName'])

get_list_of_university_towns().head()

     State    RegionName
0  Alabama        Auburn
1  Alabama      Florence
2  Alabama  Jacksonville
3  Alabama    Livingston
4  Alabama    Montevallo

In [12]:
# def get_recession_start():
#     gdplev = pd.ExcelFile('gdplev.xls')
#     gdplev = gdplev.parse("Sheet1", skiprows=219)
#     gdplev = gdplev[['1999q4', 9926.1]]
#     gdplev.columns = ['Quarter','GDP']
#     for i in range(2, len(gdplev)):
#         if (gdplev.iloc[i-2][1] > gdplev.iloc[i-1][1]) and (gdplev.iloc[i-1][1] > gdplev.iloc[i][1]):
#             return gdplev.iloc[i-2][0]
        
def get_recession_start():
    '''Returns the year and quarter of the recession start time as a 
    string value in a format such as 2005q3'''
    GDP = get_gdp_data_frame()
    for i in range(2, len(GDP)):
        if (GDP.iloc[i-2][1] > GDP.iloc[i-1][1]) and (GDP.iloc[i-1][1] > GDP.iloc[i][1]):
            return GDP.iloc[i-2][0].replace("Q", "q")

get_recession_start()

'2008q2'

In [14]:
def get_recession_end():
    '''Returns the year and quarter of the recession end time as a 
    string value in a format such as 2005q3'''
    GDP = get_gdp_data_frame()
    GDP.set_index('Quarter', inplace = True)
    GDP = GDP.loc[get_recession_start().replace("q", "Q"):]
    for i in range(2, len(GDP)):
        if (GDP.iloc[i-2][0] < GDP.iloc[i-1][0]) and (GDP.iloc[i-1][0] < GDP.iloc[i][0]):
            return GDP.iloc[i].name.replace("Q", "q")
        
get_recession_end()

'2009q4'

In [33]:
def get_recession_bottom():
    '''Returns the year and quarter of the recession bottom time as a 
    string value in a format such as 2005q3'''
    GDP = get_gdp_data_frame()
    GDP.set_index('Quarter', inplace = True)
    start_q = get_recession_start().replace("q", "Q")
    end_q = get_recession_end().replace("q", "Q")
    return GDP[start_q:end_q].idxmin()[0].replace("Q", "q")

get_recession_bottom()

'2009q2'

In [100]:
def quarters():
    #generating the new coloumns names 
    years = list(range(2000,2017))
    qs = ['q1','q2','q3','q4']
    return [str(year) + q for year in years for q in qs][:67]

def convert_housing_data_to_quarters():
    '''Converts the housing data to quarters and returns it as mean 
    values in a dataframe. This dataframe should be a dataframe with
    columns for 2000q1 through 2016q3, and should have a multi-index
    in the shape of ["State","RegionName"].
    
    Note: Quarters are defined in the assignment description, they are
    not arbitrary three month periods.
    
    The resulting dataframe should have 67 columns, and 10,730 rows.
    '''
    data = pd.read_csv('City_Zhvi_AllHomes.csv',
                   usecols = [1, 2] + list(range(51, 251)))
    data['State'] = data['State'].map(states)
    data.set_index(['State', 'RegionName'], inplace = True)
    months_in_group_of_3 = [data.columns[x : x + 3] for x in range(0, len(data.columns), 3)]
    qs = quarters()
    for q, three_months in zip(qs, months_in_group_of_3):
        data[q] = data[three_months].mean(axis=1)
    return data[qs]

convert_housing_data_to_quarters()

                                                 2000q1         2000q2  \
State                RegionName
New York             New York                       NaN            NaN
California           Los Angeles          207066.666667  214466.666667
Illinois             Chicago              138400.000000  143633.333333
Pennsylvania         Philadelphia          53000.000000   53633.333333
Arizona              Phoenix              111833.333333  114366.666667
Nevada               Las Vegas            132600.000000  134366.666667
California           San Diego            222900.000000  234366.666667
Texas                Dallas                84466.666667   83866.666667
California           San Jose             374266.666667  406566.666667
Florida              Jacksonville          88600.000000   89700.000000
California           San Francisco        430500.000000  464466.666667
Texas                Austin               142966.666667  145266.666667
Michigan             Detroit               66166.666667   68300.000000
Ohio                 Columbus              94366.666667   95833.333333
Tennessee            Memphis               72500.000000   73200.000000
North Carolina       Charlotte            126933.333333  128366.666667
Texas                El Paso               76266.666667   76866.666667
Massachusetts        Boston               206933.333333  219166.666667
Washington           Seattle              248600.000000  255600.000000
Maryland             Baltimore             59666.666667   59500.000000
Colorado             Denver               162233.333333  167833.333333
District of Columbia Washington           137766.666667  144200.000000
Tennessee            Nashville            113833.333333  115266.666667
Wisconsin            Milwaukee             78033.333333   79066.666667
Arizona              Tucson               101833.333333  102966.666667
Oregon               Portland             152800.000000  154766.666667
Oklahoma             Oklahoma City         76433.333333   77500.000000
Nebraska             Omaha                112800.000000  114100.000000
New Mexico           Albuquerque          125866.666667  126700.000000
California           Fresno                94100.000000   95266.666667
...                                                 ...            ...
Mississippi          Corinth               60966.666667   62400.000000
Massachusetts        Town of Bridgewater  191333.333333  199333.333333
Indiana              Schererville                   NaN            NaN
Massachusetts        Danvers              229333.333333  233800.000000
New Jersey           Atlantic City         76000.000000   76966.666667
Illinois             Bartlett             207800.000000  212133.333333
Louisiana            La Place              93133.333333   93833.333333
Illinois             Oak Forest           140833.333333  141966.666667
Connecticut          Wethersfield         154100.000000  158566.666667
Michigan             Orion                185000.000000  187466.666667
Maryland             Odenton              140766.666667  143133.333333
Massachusetts        Wellesley            581266.666667  609800.000000
California           Claremont            253766.666667  260633.333333
Florida              Englewood            102233.333333  104100.000000
Massachusetts        Tewksbury            215566.666667  226700.000000
Illinois             New Lenox            182333.333333  183300.000000
New Jersey           Paramus              303533.333333  312500.000000
Illinois             Lake in the Hills    168233.333333  170500.000000
Oregon               Sherwood             190366.666667  191700.000000
Delaware             Bear                 141366.666667  143300.000000
Florida              Lake Magdalene       103900.000000  107500.000000
California           Imperial Beach       165166.666667  170166.666667
                     Goleta               370533.333333  392166.666667
                     Dana Point           371700.000000  384100.000000
                     East Palo Alto       274666.666667  300500.000000
Massachusetts        Gloucester           217500.000000  226033.333333
Utah                 Holladay             229533.333333  229933.333333
Florida              Dunnellon             79200.000000   81366.666667
New York             Ithaca               106100.000000  107233.333333
Indiana              Hobart                         NaN            NaN

                                                 2000q3         2000q4  \
State                RegionName
New York             New York                       NaN            NaN
California           Los Angeles          220966.666667  226166.666667
Illinois             Chicago              147866.666667  152133.333333
Pennsylvania         Philadelphia          54133.333333   54700.000000
Arizona              Phoenix              116000.000000  117400.000000
Nevada               Las Vegas            135400.000000  137000.000000
California           San Diego            245433.333333  256033.333333
Texas                Dallas                84866.666667   87833.333333
California           San Jose             431866.666667  455500.000000
Florida              Jacksonville          91700.000000   93100.000000
California           San Francisco        483533.333333  493000.000000
Texas                Austin               149466.666667  155733.333333
Michigan             Detroit               66766.666667   67033.333333
Ohio                 Columbus              97133.333333   98266.666667
Tennessee            Memphis               73866.666667   74000.000000
North Carolina       Charlotte            130200.000000  131566.666667
Texas                El Paso               76733.333333   77300.000000
Massachusetts        Boston               233100.000000  242500.000000
Washington           Seattle              262533.333333  267400.000000
Maryland             Baltimore             58833.333333   59500.000000
Colorado             Denver               174333.333333  180333.333333
District of Columbia Washington           148700.000000  147700.000000
Tennessee            Nashville            115866.666667  116933.333333
Wisconsin            Milwaukee             81033.333333   82333.333333
Arizona              Tucson               104466.666667  105666.666667
Oregon               Portland             156566.666667  157466.666667
Oklahoma             Oklahoma City         78566.666667   79166.666667
Nebraska             Omaha                116733.333333  118900.000000
New Mexico           Albuquerque          126433.333333  126733.333333
California           Fresno                96466.666667   98233.333333
...                                                 ...            ...
Mississippi          Corinth               65566.666667   70133.333333
Massachusetts        Town of Bridgewater  207866.666667  217033.333333
Indiana              Schererville                   NaN            NaN
Massachusetts        Danvers              237366.666667  244166.666667
New Jersey           Atlantic City         77033.333333   81366.666667
Illinois             Bartlett             216500.000000  220200.000000
Louisiana            La Place              96300.000000  100100.000000
Illinois             Oak Forest           144300.000000  147200.000000
Connecticut          Wethersfield         161733.333333  163266.666667
Michigan             Orion                189600.000000  192633.333333
Maryland             Odenton              144800.000000  146500.000000
Massachusetts        Wellesley            643200.000000  669900.000000
California           Claremont            268066.666667  271466.666667
Florida              Englewood            106233.333333  108766.666667
Massachusetts        Tewksbury            234500.000000  240366.666667
Illinois             New Lenox            183333.333333  184200.000000
New Jersey           Paramus              316466.666667  324666.666667
Illinois             Lake in the Hills    173700.000000  176900.000000
Oregon               Sherwood             192333.333333  191966.666667
Delaware             Bear                 144966.666667  147066.666667
Florida              Lake Magdalene       110600.000000  113233.333333
California           Imperial Beach       179466.666667  191333.333333
                     Goleta               404600.000000  417866.666667
                     Dana Point           394466.666667  399500.000000
                     East Palo Alto       326700.000000  340133.333333
Massachusetts        Gloucester           235866.666667  244166.666667
Utah                 Holladay             230600.000000  232066.666667
Florida              Dunnellon             82400.000000   83633.333333
New York             Ithaca               105133.333333  105133.333333
Indiana              Hobart                         NaN            NaN

                                                 2001q1         2001q2  \
State                RegionName
New York             New York                       NaN            NaN
California           Los Angeles          233000.000000  239100.000000
Illinois             Chicago              156933.333333  161800.000000
Pennsylvania         Philadelphia          55333.333333   55533.333333
Arizona              Phoenix              119600.000000  121566.666667
Nevada               Las Vegas            139533.333333  141733.333333
California           San Diego            267200.000000  276266.666667
Texas                Dallas                89733.333333   89300.000000
California           San Jose             470666.666667  470200.000000
Florida              Jacksonville          94400.000000   95600.000000
California           San Francisco        494066.666667  496133.333333
Texas                Austin               161233.333333  160733.333333
Michigan             Detroit               67500.000000   68366.666667
Ohio                 Columbus              99400.000000  100266.666667
Tennessee            Memphis               74166.666667   74933.333333
North Carolina       Charlotte            132933.333333  133200.000000
Texas                El Paso               78233.333333   78300.000000
Massachusetts        Boston               249600.000000  257066.666667
Washington           Seattle              271000.000000  272433.333333
Maryland             Baltimore             59566.666667   60133.333333
Colorado             Denver               186500.000000  192533.333333
District of Columbia Washington           149766.666667  155133.333333
Tennessee            Nashville            118033.333333  119166.666667
Wisconsin            Milwaukee             84033.333333   85566.666667
Arizona              Tucson               107200.000000  108766.666667
Oregon               Portland             159900.000000  161800.000000
Oklahoma             Oklahoma City         79833.333333   80400.000000
Nebraska             Omaha                120866.666667  119766.666667
New Mexico           Albuquerque          127100.000000  127733.333333
California           Fresno               100566.666667  103566.666667
...                                                 ...            ...
Mississippi          Corinth               72133.333333   73600.000000
Massachusetts        Town of Bridgewater  227566.666667  236866.666667
Indiana              Schererville                   NaN            NaN
Massachusetts        Danvers              252866.666667  259833.333333
New Jersey           Atlantic City         84966.666667   88533.333333
Illinois             Bartlett             223333.333333  227666.666667
Louisiana            La Place             100900.000000  101200.000000
Illinois             Oak Forest           149800.000000  150566.666667
Connecticut          Wethersfield         165233.333333  167366.666667
Michigan             Orion                195733.333333  198800.000000
Maryland             Odenton              150066.666667  153200.000000
Massachusetts        Wellesley            693800.000000  717233.333333
California           Claremont            280233.333333  292766.666667
Florida              Englewood            111800.000000  115733.333333
Massachusetts        Tewksbury            247733.333333  255133.333333
Illinois             New Lenox            188200.000000  192400.000000
New Jersey           Paramus              334533.333333  343066.666667
Illinois             Lake in the Hills    180366.666667  184000.000000
Oregon               Sherwood             193500.000000  195533.333333
Delaware             Bear                 150066.666667  153600.000000
Florida              Lake Magdalene       115433.333333  116500.000000
California           Imperial Beach       202600.000000  212766.666667
                     Goleta               434766.666667  450000.000000
                     Dana Point           417666.666667  423600.000000
                     East Palo Alto       351533.333333  357000.000000
Massachusetts        Gloucester           250233.333333  256000.000000
Utah                 Holladay             236233.333333  236766.666667
Florida              Dunnellon             85066.666667   86933.333333
New York             Ithaca               107100.000000  108533.333333
Indiana              Hobart                         NaN            NaN

                                                 2001q3         2001q4  \
State                RegionName
New York             New York                       NaN            NaN
California           Los Angeles          245066.666667  253033.333333
Illinois             Chicago              166400.000000  170433.333333
Pennsylvania         Philadelphia          56266.666667   57533.333333
Arizona              Phoenix              122700.000000  124300.000000
Nevada               Las Vegas            143366.666667  146133.333333
California           San Diego            284500.000000  291933.333333
Texas                Dallas                89066.666667   90900.000000
California           San Jose             456800.000000  445566.666667
Florida              Jacksonville          97066.666667   99066.666667
California           San Francisco        504100.000000  513400.000000
Texas                Austin               159533.333333  160033.333333
Michigan             Detroit               69266.666667   69966.666667
Ohio                 Columbus             101066.666667  102200.000000
Tennessee            Memphis               75500.000000   76066.666667
North Carolina       Charlotte            132800.000000  133100.000000
Texas                El Paso               77433.333333   76800.000000
Massachusetts        Boston               266933.333333  274966.666667
Washington           Seattle              274166.666667  278166.666667
Maryland             Baltimore             62100.000000   63400.000000
Colorado             Denver               196400.000000  199100.000000
District of Columbia Washington           164633.333333  172533.333333
Tennessee            Nashville            120100.000000  120800.000000
Wisconsin            Milwaukee             87066.666667   88400.000000
Arizona              Tucson               110566.666667  112800.000000
Oregon               Portland             164266.666667  167766.666667
Oklahoma             Oklahoma City         81133.333333   81733.333333
Nebraska             Omaha                117866.666667  117400.000000
New Mexico           Albuquerque          128566.666667  129900.000000
California           Fresno               107233.333333  110300.000000
...                                                 ...            ...
Mississippi          Corinth               73366.666667   72033.333333
Massachusetts        Town of Bridgewater  248766.666667  263466.666667
Indiana              Schererville                   NaN            NaN
Massachusetts        Danvers              270700.000000  280900.000000
New Jersey           Atlantic City         91500.000000   91866.666667
Illinois             Bartlett             233200.000000  238066.666667
Louisiana            La Place             101200.000000  101233.333333
Illinois             Oak Forest           151033.333333  153733.333333
Connecticut          Wethersfield         169600.000000  174766.666667
Michigan             Orion                202333.333333  204333.333333
Maryland             Odenton              156933.333333  161000.000000
Massachusetts        Wellesley            737100.000000  754666.666667
California           Claremont            300433.333333  305066.666667
Florida              Englewood            119633.333333  122533.333333
Massachusetts        Tewksbury            263600.000000  273066.666667
Illinois             New Lenox            196966.666667  201933.333333
New Jersey           Paramus              351933.333333  363200.000000
Illinois             Lake in the Hills    187100.000000  190000.000000
Oregon               Sherwood             196533.333333  198133.333333
Delaware             Bear                 157000.000000  159800.000000
Florida              Lake Magdalene       118366.666667  120800.000000
California           Imperial Beach       223300.000000  234966.666667
                     Goleta               466033.333333  487666.666667
                     Dana Point           423633.333333  437100.000000
                     East Palo Alto       354600.000000  361300.000000
Massachusetts        Gloucester           266233.333333  279033.333333
Utah                 Holladay             236400.000000  236200.000000
Florida              Dunnellon             88466.666667   90600.000000
New York             Ithaca               112000.000000  115200.000000
Indiana              Hobart                         NaN            NaN

                                                 2002q1         2002q2  \
State                RegionName
New York             New York                       NaN            NaN
California           Los Angeles          261966.666667  272700.000000
Illinois             Chicago              175500.000000  177566.666667
Pennsylvania         Philadelphia          59133.333333   60733.333333
Arizona              Phoenix              126533.333333  128366.666667
Nevada               Las Vegas            149333.333333  150933.333333
California           San Diego            301233.333333  312866.666667
Texas                Dallas                92566.666667   93800.000000
California           San Jose             441433.333333  457766.666667
Florida              Jacksonville         101233.333333  103433.333333
California           San Francisco        520433.333333  538166.666667
Texas                Austin               158966.666667  157500.000000
Michigan             Detroit               71000.000000   72333.333333
Ohio                 Columbus             103400.000000  104800.000000
Tennessee            Memphis               76333.333333   76766.666667
North Carolina       Charlotte            134366.666667  135366.666667
Texas                El Paso               76600.000000   76400.000000
Massachusetts        Boston               282500.000000  289300.000000
Washington           Seattle              280500.000000  284600.000000
Maryland             Baltimore             63666.666667   64900.000000
Colorado             Denver               201233.333333  202433.333333
District of Columbia Washington           180500.000000  193300.000000
Tennessee            Nashville            121566.666667  122633.333333
Wisconsin            Milwaukee             89533.333333   91366.666667
Arizona              Tucson               115000.000000  117200.000000
Oregon               Portland             170766.666667  174133.333333
Oklahoma             Oklahoma City         82600.000000   83433.333333
Nebraska             Omaha                118066.666667  117633.333333
New Mexico           Albuquerque          131066.666667  132100.000000
California           Fresno               114033.333333  118533.333333

In [ ]:
def run_ttest():
    '''First creates new data showing the decline or growth of housing prices
    between the recession start and the recession bottom. Then runs a ttest
    comparing the university town values to the non-university towns values, 
    return whether the alternative hypothesis (that the two groups are the same)
    is true or not as well as the p-value of the confidence. 
    
    Return the tuple (different, p, better) where different=True if the t-test is
    True at a p<0.01 (we reject the null hypothesis), or different=False if 
    otherwise (we cannot reject the null hypothesis). The variable p should
    be equal to the exact p value returned from scipy.stats.ttest_ind(). The
    value for better should be either "university town" or "non-university town"
    depending on which has a lower mean price ratio (which is equivilent to a
    reduced market loss).'''
    
    return "ANSWER"