---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

In [1]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind

# Assignment 4 - Hypothesis Testing
This assignment requires more individual learning than previous assignments - you are encouraged to check out the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) to find functions or methods you might not have used yet, or ask questions on [Stack Overflow](http://stackoverflow.com/) and tag them as pandas and python related. And of course, the discussion forums are open for interaction with your peers and the course staff.

Definitions:
* A _quarter_ is a specific three month period, Q1 is January through March, Q2 is April through June, Q3 is July through September, Q4 is October through December.
* A _recession_ is defined as starting with two consecutive quarters of GDP decline, and ending with two consecutive quarters of GDP growth.
* A _recession bottom_ is the quarter within a recession which had the lowest GDP.
* A _university town_ is a city which has a high percentage of university students compared to the total population of the city.

**Hypothesis**: University towns have their mean housing prices less effected by recessions. Run a t-test to compare the ratio of the mean price of houses in university towns the quarter before the recession starts compared to the recession bottom. (`price_ratio=quarter_before_recession/recession_bottom`)

The following data files are available for this assignment:
* From the [Zillow research data site](http://www.zillow.com/research/data/) there is housing data for the United States. In particular the datafile for [all homes at a city level](http://files.zillowstatic.com/research/public/City/City_Zhvi_AllHomes.csv), ```City_Zhvi_AllHomes.csv```, has median home sale prices at a fine grained level.
* From the Wikipedia page on college towns is a list of [university towns in the United States](https://en.wikipedia.org/wiki/List_of_college_towns#College_towns_in_the_United_States) which has been copy and pasted into the file ```university_towns.txt```.
* From Bureau of Economic Analysis, US Department of Commerce, the [GDP over time](http://www.bea.gov/national/index.htm#gdp) of the United States in current dollars (use the chained value in 2009 dollars), in quarterly intervals, in the file ```gdplev.xls```. For this assignment, only look at GDP data from the first quarter of 2000 onward.

Each function in this assignment below is worth 10%, with the exception of ```run_ttest()```, which is worth 50%.

In [5]:
GDP = pd.read_excel('gdplev.xlsx')
GDP.head(10)

,"Current-Dollar and ""Real"" Gross Domestic Product",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,2018-04-27 00:00:00
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Annual,NaN,NaN,NaN,Quarterly,NaN,NaN,NaN
NaN,NaN,NaN,NaN,(Seasonally adjusted annual rates),NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,GDP in billions of current dollars,GDP in billions of chained 2009 dollars,NaN,NaN,GDP in billions of current dollars,GDP in billions of chained 2009 dollars,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1929,104.6,1056.6,NaN,1947Q1,243.1,1934.5,NaN
1930,92.2,966.7,NaN,1947Q2,246.3,1932.3,NaN
1931,77.4,904.8,NaN,1947Q3,250.1,1930.3,NaN

In [6]:
# Use this dictionary to map state names to two letter acronyms
states = {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 'AK': 'Alaska', 'UT': 'Utah', 'OR': 'Oregon', 'MT': 'Montana', 'IL': 'Illinois', 'TN': 'Tennessee', 'DC': 'District of Columbia', 'VT': 'Vermont', 'ID': 'Idaho', 'AR': 'Arkansas', 'ME': 'Maine', 'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 'AZ': 'Arizona', 'GU': 'Guam', 'MS': 'Mississippi', 'PR': 'Puerto Rico', 'NC': 'North Carolina', 'TX': 'Texas', 'SD': 'South Dakota', 'MP': 'Northern Mariana Islands', 'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 'WV': 'West Virginia', 'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 'NY': 'New York', 'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 'CO': 'Colorado', 'PA': 'Pennsylvania', 'DE': 'Delaware', 'NM': 'New Mexico', 'RI': 'Rhode Island', 'MN': 'Minnesota', 'VI': 'Virgin Islands', 'NH': 'New Hampshire', 'MA': 'Massachusetts', 'GA': 'Georgia', 'ND': 'North Dakota', 'VA': 'Virginia'}

Alabama"
Auburn"
Florence"
Jacksonville"
Livingston"
Montevallo"
Troy"
Tuscaloosa"
Tuskegee"
Alaska"
Fairbanks"
Arizona"
Flagstaff"
Tempe"
Tucson"
Arkansas"
Arkadelphia"
Conway"
Fayetteville"
Jonesboro"
Magnolia"
Monticello"
Russellville"
Searcy"
California"
Angwin"
Arcata"
Berkeley"
Chico"
Claremont"
Cotati"
Davis"
Irvine"
Isla Vista"
University Park, Los Angeles"
Merced"
Orange"
Palo Alto"
Pomona"
Redlands"
Riverside"
Sacramento"
University District, San Bernardino"
San Diego"
San Luis Obispo"
Santa Barbara"
Santa Cruz"
Turlock"
Westwood, Los Angeles"
Whittier"
Colorado"
Alamosa"
Boulder"
Durango"
Fort Collins"
Golden"
Grand Junction"
Greeley"
Gunnison"
Pueblo, Colorado"
Connecticut"
Fairfield"
Middletown"
New Britain"
New Haven"
New London"
Storrs"
Willimantic"
Delaware"
Dover"
Newark"
Florida"
Ave Maria"
Boca Raton"
Coral Gables"
DeLand"
Estero"
Gainesville"
Orlando"
Sarasota"
St. Augustine"
St. Leo"
Tallahassee"
Tampa"
Georgia"
Albany"
Athens"
Atlanta"
Carrollton"
Demorest"
Fort Valley"
Kennesaw"
Milledgeville"
Mount Vernon"
Oxford"
Rome"
Savannah"
Statesboro"
Valdosta"
Waleska"
Young Harris"
Hawaii"
Manoa"
Idaho"
Moscow"
Pocatello"
Rexburg"
Illinois"
Carbondale"
Champaignâ€“Urbana"
Charleston"
DeKalb"
Edwardsville"
Evanston"
Lebanon"
Macomb"
Normal"
Peoria"
Indiana"
Bloomington"
Crawfordsville"
Greencastle"
Hanover"
Marion"
Muncie"
Oakland City"
Richmond"
South Bend"
Terre Haute"
Upland"
Valparaiso"
West Lafayette"
Iowa"
Ames"
Cedar Falls"
Cedar Rapids, Iowa"
Decorah"
Fayette"
Grinnell"
Iowa City"
Lamoni"
Mount Vernon,"
Orange City"
Sioux Center"
Storm Lake"
Waverly"
Kansas"
Baldwin City"
Emporia"
Hays"
Lawrence"
Manhattan"
Pittsburg"
Kentucky"
Bowling Green"
Columbia"
Georgetown"
Highland Heights"
Lexington"
Louisville"
Morehead"
Murray"
Richmond"
Williamsburg"
Wilmore"
Louisiana"
Baton Rouge"
Grambling"
Hammond"
Lafayette"
Monroe"
Natchitoches"
Ruston"
Thibodaux"
Maine"
Augusta"
Bar Harbor"
Brunswick"
Farmington"
Fort Kent"
Gorham"
Lewiston, Maine"
Orono"
Waterville"
Maryland"
Annapolis"
Chestertown"
College Park"
Cumberland"
Emmitsburg"
Frostburg"
Princess Anne"
Towson"
Salisbury"
Westminster"
Massachusetts"
Boston"
Bridgewater"
Cambridge"
Chestnut Hill"
The Colleges of Worcester Consortium:"
Dudley"
North Grafton"
Paxton"
Worcester"
The Five College Region of Western Massachusetts:"
Amherst"
Northampton"
South Hadley"
Fitchburg"
North Adams"
Springfield"
Waltham"
Williamstown"
Framingham"
Michigan"
Adrian"
Albion"
Allendale"
Alma"
Ann Arbor"
Berrien Springs"
Big Rapids"
East Lansing"
Flint"
Hillsdale"
Houghton"
Kalamazoo"
Marquette"
Midland"
Mount Pleasant"
Olivet"
Saginaw"
Sault Ste. Marie"
Spring Arbor"
Ypsilanti"
Minnesota"
Bemidji"
Crookston"
Duluth"
Faribault, South Central College"
Mankato"
Marshall"
Moorhead"
Morris"
Northfield"
North Mankato, South Central College"
St. Cloud"
St. Joseph"
St. Peter"
Winona"
Mississippi"
Cleveland"
Hattiesburg"
Itta Bena"
Oxford"
Starkville"
Missouri"
Bolivar"
Cape Girardeau"
Columbia"
Fayette"
Fulton"
Kirksville"
Maryville"
Rolla"
Warrensburg"
Montana"
Bozeman"
Dillon"
Missoula"
Nebraska"
Chadron"
Crete"
Kearney"
Lincoln"
Peru"
Seward"
Wayne"
Nevada"
Las Vegas"
Reno"
New Hampshire"
New London, New Hampshire"
Durham"
Hanover"
Henniker"
Keene"
Plymouth"
Rindge"
New Jersey"
Ewing"
Jersey City"
Glassboro"
Hoboken"
Madison"
Newark"
New Brunswick"
Princeton"
Union"
West Long Branch"
New Mexico"
Hobbs"
Las Cruces"
Las Vegas"
Portales"
Silver City"
New York"
Alfred"
Albany"
Aurora"
Binghamton"
Brockport"
Buffalo"
Canton"
Clinton"
Cobleskill"
Delhi"
Fredonia"
Geneseo"
Geneva"
Hamilton"
Ithaca"
Morningside Heights, Manhattan"
New Paltz"
Oneonta"
Oswego"
Plattsburgh"
Potsdam"
Poughkeepsie"
Purchase"
Rochester"
Saratoga Springs"
Seneca Falls"
Stony Brook"
Syracuse"
Tivoli"
Troy"
West Point"
North Carolina"
Banner Elk"
Boiling Springs"
Boone"
Buies Creek"
Chapel Hill"
Cullowhee"
Davidson"
Durham"
Elon"
Greensboro"
Greenville"
Hickory"
Mars Hill"
Mount Olive"
Pembroke"
Wilmington, North Carolina"
Wingate"
Winston-Salem"
North Dakota"
Fargo"
Grand Forks"
Ohio"
Ada"
Alliance"
Ashland"
Athens"
Berea"
Bluffton"
Bowling Green"
Cedarville"
Columbus"
Delaware"
Fairborn"
Findlay"
Gambier"
Granville"
Hiram"
Kent"
Nelsonville"
New Concord"
Oberlin"
Oxford"
Rio Grande"
Wilberforce"
Oklahoma"
Ada"
Alva"
Durant"
Edmond"
Goodwell"
Langston"
Norman"
Stillwater"
Tahlequah"
Tulsa"
Weatherford"
Oregon"
Ashland"
Corvallis"
Eugene"
Forest Grove"
Klamath Falls"
La Grande"
Marylhurst"
McMinnville"
Monmouth"
Newberg"
Pennsylvania"
Altoona"
Annville"
Bethlehem"
Bloomsburg"
Bradford"
California"
Carlisle"
Cecil B. Moore, Philadelphia, also known as "Templetown""
Clarion"
Collegeville"
Cresson"
East Stroudsburg"
Edinboro"
Erie"
Gettysburg"
Greensburg"
Grove City"
Huntingdon"
Indiana"
Johnstown"
Kutztown"
Lancaster"
Lewisburg"
Lock Haven"
Loretto"
Mansfield"
Meadville"
Mont Alto"
Millersville"
New Wilmington"
North East"
University City, Philadelphia"
Oakland, Pittsburgh"
Reading"
Selinsgrove"
Shippensburg"
Slippery Rock"
State College"
Villanova"
Waynesburg"
West Chester"
Wilkes-Barre"
Williamsport"
Rhode Island"
Kingston"
Providence"
South Carolina"
Central"
Charleston"
Clemson"
Clinton"
Columbia"
Due West"
Florence"
Greenwood"
Orangeburg"
Rock Hill"
Spartanburg"
South Dakota"
Brookings"
Madison"
Spearfish"
Vermillion"
Tennessee"
Chattanooga"
Collegedale"
Cookeville"
Harrogate"
Henderson"
Johnson City"
Knoxville"
Martin"
McKenzie"
Memphis"
Murfreesboro"
Nashville"
Sewanee"
Texas"
Abilene"
Alpine"
Austin"
Beaumont"
Canyon"
College Station"
Commerce"
Dallas"
Denton"
Fort Worth"
Georgetown"
Huntsville"
Houston"
Keene"
Kingsville"
Lubbock"
Nacogdoches"
Plainview"
Prairie View"
San Marcos"
Stephenville"
Waco"
Utah"
Cedar City"
Logan"
Provo"
Orem"
Salt Lake City"
Ephraim"
Vermont"
Burlington"
Castleton"
Johnson"
Lyndonville"
Middlebury"
Northfield"
Virginia"
Blacksburg"
Bridgewater"
Charlottesville"
Farmville"
Fredericksburg"
Harrisonburg"
Lexington"
Lynchburg"
Radford"
Williamsburg"
Wise"
Chesapeake"
Washington"
Bellingham"
Cheney"
Ellensburg"
Pullman"
University District, Seattle"
West Virginia"
Athens"
Buckhannon"
Fairmont"
Glenville"
Huntington"
Montgomery"
Morgantown"
Shepherdstown"
West Liberty"
Wisconsin"
Appleton"
Eau Claire"
Green Bay"
La Crosse"
Madison"
Menomonie"
Milwaukee"
Oshkosh"
Platteville"
River Falls"
Stevens Point"
Waukesha"
Whitewater"
Wyoming"
Laramie"

     State    RegionName
0  Alabama        Auburn
1  Alabama      Florence
2  Alabama  Jacksonville
3  Alabama    Livingston
4  Alabama    Montevallo

In [14]:
def get_list_of_university_towns():
    '''Returns a DataFrame of towns and the states they are in from the 
    university_towns.txt list. The format of the DataFrame should be:
    DataFrame( [ ["Michigan", "Ann Arbor"], ["Michigan", "Yipsilanti"] ], 
    columns=["State", "RegionName"]  )
    
    The following cleaning needs to be done:

    1. For "State", removing characters from "[" to the end.
    2. For "RegionName", when applicable, removing every character from " (" to the end.
    3. Depending on how you read the data, you may need to remove newline character '\n'. '''
    state = None
    state_towns = []
    with open('university_towns.txt') as file:
        for line in file:
            thisLine = line[:-1]
            if thisLine[-6:] == '[edit]':
                state = thisLine[:-6]
            elif '(' in line:
                state_towns.append([state, thisLine[:thisLine.index('(') - 1]])
            else:
                state_towns.append([state, thisLine])
    return pd.DataFrame(state_towns, columns = ['State','RegionName'])

get_list_of_university_towns().head()

     State    RegionName
0  Alabama        Auburn
1  Alabama      Florence
2  Alabama  Jacksonville
3  Alabama    Livingston
4  Alabama    Montevallo

In [ ]:
def get_recession_start():
    '''Returns the year and quarter of the recession start time as a 
    string value in a format such as 2005q3'''
    
    return "ANSWER"

In [ ]:
def get_recession_end():
    '''Returns the year and quarter of the recession end time as a 
    string value in a format such as 2005q3'''
       
    return "ANSWER"

In [ ]:
def get_recession_bottom():
    '''Returns the year and quarter of the recession bottom time as a 
    string value in a format such as 2005q3'''
    
    return "ANSWER"

In [ ]:
def convert_housing_data_to_quarters():
    '''Converts the housing data to quarters and returns it as mean 
    values in a dataframe. This dataframe should be a dataframe with
    columns for 2000q1 through 2016q3, and should have a multi-index
    in the shape of ["State","RegionName"].
    
    Note: Quarters are defined in the assignment description, they are
    not arbitrary three month periods.
    
    The resulting dataframe should have 67 columns, and 10,730 rows.
    '''
    
    return "ANSWER"

In [ ]:
def run_ttest():
    '''First creates new data showing the decline or growth of housing prices
    between the recession start and the recession bottom. Then runs a ttest
    comparing the university town values to the non-university towns values, 
    return whether the alternative hypothesis (that the two groups are the same)
    is true or not as well as the p-value of the confidence. 
    
    Return the tuple (different, p, better) where different=True if the t-test is
    True at a p<0.01 (we reject the null hypothesis), or different=False if 
    otherwise (we cannot reject the null hypothesis). The variable p should
    be equal to the exact p value returned from scipy.stats.ttest_ind(). The
    value for better should be either "university town" or "non-university town"
    depending on which has a lower mean price ratio (which is equivilent to a
    reduced market loss).'''
    
    return "ANSWER"